body{
    margin:0;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .app-main {
    flex: 1; // pushes footer to bottom if content is short
    padding: 2rem;
    background: #f9f9f9;
  }
}
